html, body {
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-family: 'Helvetica';
}

html {
	background: #fafafa;
	background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(218, 218, 218) 100%);
	background-attachment: fixed;
	height: 100%;
}

#app {
	padding: 1em;
	max-width: 600px;
	margin: 0 auto;
}

@import 'todo-add';
@import 'todo-filter';
@import 'todo-container';